<article class="max-w-64">

  <% if point.photos&.size < 2 %>
    <div class="w-max grid grid-cols-1 gap-2">
  <% else %>
    <div class="w-max grid grid-cols-2 gap-2">
  <% end %>
  <% point.photos.first(4).each do |photo| %>
    <%= link_to url_for(photo), target: "_blank" do %>
      <%= image_tag url_for(photo), class: "w-20 md:w-32 object-contain rounded-lg" %>
    <% end %>
  <% end %>
  </div>
  <div class="pt-3">
    <%= link_to point do %>
      <h1 class="text-base"><%= point.name %></h1>
    <% end %>
    <p class="text-sm text-gray-500 max-h-32 overflow-scroll">
      <%= point&.description %>
    </p>
  </div>

  <div class="flex py-2">
    <%= button_to "Delete", point, method: :delete, class: "btn btn-xs btn-danger", form: {data: {turbo_confirm: 'Are you sure?'}} %>
  </div>

</article>
